mixin meta(title, slug, ogpTitle, ogpDescription, ogpImage, ogpUrl)
  meta(charset="utf-8")
  title= title + " "

  meta(property="og:locale" content="ja_JP")
  meta(property="og:type" content="website")

  meta(property="og:url" content=ogpUrl ? ogpUrl : "http://designless.net/")
  meta(name="twitter:url" value=ogpUrl ? ogpUrl : "http://designless.net/")
  meta(property="og:title" content=ogpTitle ? ogpTitle : title)
  meta(name="twitter:title" value=ogpTitle ? ogpTitle : title)
  meta(property="og:image" content=ogpImage ? ogpImage : 'http://designless.net/images/ogp.jpg')
  meta(name="twitter:image" value=ogpImage ? ogpImage : 'http://designless.net/images/ogp.jpg')
  meta(property="og:description" content=ogpDescription ? ogpDescription : 'Naoki Kanazawa - Designer')
  meta(name="twitter:description" value=ogpDescription ? ogpDescription : 'Naoki Kanazawa - Designer')
  meta(property="og:site_name" content="designless")
  meta(name="twitter:card" value="summary_large_image")
  meta(name="twitter:site" value="@designless0")
  meta(name="twitter:creator" value="@designless0")
  meta(property="fb:app_id" content="1317763314965511")

  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes')

  link(rel="stylesheet" href="/app.css")
  link(rel="shortcut icon" href="/favicon.ico")